.titleLista {
    text-align: center;
    margin-left: -3rem; // Es lo que ocupa el icon de back
}

.titleNuevoItem {
    font-size: 1.3rem;
}

.inputItem {
    margin-top: 2rem;
    margin-bottom: 2rem;
}